.nav {
    grid-area: nav;
    background-color: darksalmon;
    padding: 20px;
    text-align: left;
}

.link {
    color: white;
    text-decoration: none;
}

.activeLink {
    color: red;
}

.backLink {
    height: 30px;
    margin-bottom: 15px;
}

.backLink .link {
    color: #8523e8;
}
